* {
  margin: 0;
}

body {
  background-color: #f6f6f6;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
h1 {
  text-shadow: 0px -1px 0px grey, 3px 4.5px 0px black, 1px 4px 1px black;
  color: white;
  letter-spacing: 5px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.app__left {
  flex: 0.5;
}
.app__right {
  flex: 0.4;
}

.app__graph {
  flex-grow: 1;
}
.app__graphTitle {
  margin: 15px 0 5px 0;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
